@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #E5E5E5;
  min-width: 1280px;
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #FFFFFF;
  width: 1200px;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  border-radius: 4px;
  background: none;
  padding: 9px 15px 8px;
}

.button-product-card {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 140px;
  min-height: 37px;
  border: 0;
  border-radius: 4px;
  background: none;
  padding: 8px 15px;
  align-self: start;
}

.button-primary {
  background-color: #756157;
}

.button-primary:hover {
  background-color: #615048;
}

.button-primary:focus {
  background-color: #615048;
}

.button-primary:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-primary:disabled {
  background-color: #E5E5E5;
  cursor: not-allowed;
}

.button-secondary {
  background-color: #82B3D3;
}

.button-secondary:hover {
  background-color: #68A2CA;
}

.button-secondary:focus {
  background-color: #68A2CA;
}

.button-secondary:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-secondary:disabled {
  background-color: #E5E5E5;
  cursor: not-allowed;
}

.button-secondary-active {
  background-color: #7DB54F;
}

.button-secondary-active:hover {
  background-color: #6C9E42;
}

.button-secondary-active:focus {
  background-color: #6C9E42;
}

.button-secondary-active:active {
  background-color: #6C9E42;
}

.button-secondary-active:disabled {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
  cursor: not-allowed;
}

.button-middle {
  width: 160px;
}

.button-big {
  font-size: 20px;
  line-height: 36px;
  padding: 12px 15px;
  width: 574px;

}

.button-filter {
  padding: 14px 15px;
}

.newsletter-button {
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 20px;
  line-height: 36px;
  padding: 12px 15px;
  width: 200px;
  margin: 0;
}

.reset-button {
  font-weight: 400;
  text-transform: none;
  width: 100px;
  padding: 3px 14px;
}

.reset-button:hover {
  opacity: 0.6;
}

.reset-button:focus {
  outline: 0;
  box-shadow: 0 0 0 3px #83B3D3;
}

.reset-button:active {
  opacity: 0.3;
}

.section-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.section-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-top: 29px;
  padding: 0 70px;
}

.page-header {
  color: #000000;
  background-color: #FFFFFF;
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
  min-height: 65px;
}

.logo {
  display: block;
}

.navigation-logo {
  position: absolute;
  z-index: 2;
}

.navigation {
  padding-left: 169px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: stretch;
  width: 500px;
}

.navigation-list-secondary {
  width: 265px;
}

.navigation-item {
  max-height: 65px;
}

.navigation-list-secondary .navigation-item {
  align-self: center;
}

.navigation-list-secondary .navigation-item:nth-child(2) {
  margin-right: 20px;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  color: inherit;
  padding: 20px 17px;
  cursor: pointer;
  display: flex;
}

.navigation-link_current {
  position: relative;
  z-index: 1;
}

.navigation-link_current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 17px;
  right: 17px;
  border-bottom: 2px solid #756257;
}

.button-favorites {
  margin: 0;
  background-image: url(../images/icons/favorites.svg);
  display: block;
  width: 42px;
  height: 65px;
  border: 0;
  background-color: #FFFFFF;
  position: relative;
  z-index: 1;
}

.favorites-counter {
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: -0.1em;
  background: #7DB54F;
  color: #FFFFFF;
  position: absolute;
  z-index: 2;
  top: 15px;
  right: -2px;

}

.button-search {
  background-image: url(../images/icons/search.svg);
  display: block;
  width: 42px;
  height: 65px;
}

.main-index {
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
  flex-grow: 1;
}

.main-logo-wrapper{
  background-color: #82B3D3;
  background-image: url(../images/index-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 485px;
  position: relative;
  display: block;
  padding: 51px 0 82px 0;
}

.main-logo {
  display: block;
  margin: 0 auto;
}

.main-logo-wrapper::after {
  content: "";
  background-image: url(../images/index-logo-divider.svg);
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  width: 100%;
  height: 57px;
  left: 0;
  bottom: 0;
}

.main-section-title {
  margin: 63px 0 0;
  padding: 0 70px;
}

.advantages {
  margin: 31px 0 0;
}

.advantages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 90px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.main-item {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.advantages-item-wrapper {
  display: flex;
}

.advantage-sublist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

}

.advantage-photo {
  margin: 0;
  padding: 0;
  display: block;
  background-color: #82B3D3;
  height: 100%;
  object-fit: cover;
}

.advantages-card {
  padding: 92px 85px;
  width: 400px;
  font-size: 18px;
  line-height: 21px;
}

.second-card {
  background-color: rgba(131, 179, 211, 0.12);
}

.third-card {
  background-color: rgba(131, 179, 211, 0.2);
  ;
}

.advantages-item.second-card {
  padding-top: 102px;
  padding-bottom: 102px;
}

.advantages-item.third-card {
  padding-top: 102px;
  padding-bottom: 102px;
}

.advantage-subitem {
  padding-top: 182px;
  padding-bottom: 80px;
}

.advantage-title {
  color: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  width: 230px;
  margin: 0;

}

.advantage-numeration {
  margin: 30px 0 0 0;
}

.main-card {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantage-description {
  color: #333333;
  margin: 30px 0 0 0;
}

.main-card .advantage-description {
  color: #FFFFFF;
}

.card-home {
  background-image: url(../images/adventures-home.svg);
  background-repeat: no-repeat;
  background-position: left 50% top 78px;

}

.card-food {
  background-image: url(../images/adventures-food.svg);
  background-repeat: no-repeat;
  background-position: left 50% top 80px;
}

.card-suvenir {
  background-image: url(../images/adventures-souvenir.svg);
  background-repeat: no-repeat;
  background-position: left 50% top 78px;
}

.appointment {
  padding-top: 91px;
  padding-bottom: 93px;
}

.appointment-button {
  margin-top: 55px;
}

.subscribe-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.subscribe-section-main {
  background-image: url(../images/subscribe-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #756157;
}

.subscribe-section-light {
  text-align: center;
}

.newsletter-form {
  margin-top: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.field {
  background-color: #F2F2F2;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;

}

.field:not(:placeholder-shown) {
  background-color: #F2F2F2;
}

.field:hover {
  background-color: #E6E6E6;
}

.field:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.field:focus:not(:placeholder-shown) {
  background-color: #FFFFFF;
  outline: 2px solid #000000;
}

.newsletter-field {
  width: 600px;
  height: 60px;
  border: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 20px;
}

.field::placeholder {
  color: #000000;
  opacity: 0.6;
}

.page-footer {
  min-height: 120px;
  margin: 0;
  padding: 40px 72px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 144px;
}

.footer-social-link {
  display: block;
  width: 48px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.footer-social-link svg {
  fill: #83B3D3;
}

.footer-social-link:hover svg {
  fill:#68A2CA;
}

.footer-social-link:focus svg {
  fill:#68A2CA;
}

.footer-social-link:active svg {
  opacity: 0.3;
}

.address-phone {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.address-phone:hover {
  color: #756157;
}

.address-phone:focus {
  color: #756157;
}

.address-phone:active {
  color: #756157;
  opacity: 0.3;
}

.htmlacademy-link:hover svg {
  fill: #756157;
}

.htmlacademy-link:focus svg {
  fill: #756157;
}

.htmlacademy-link:active svg {
  fill: #756157;
  opacity: 0.3;
}

.main-inner {
  flex-grow: 1;
}

.main-inner-header {
  background-image: url(../images/catalog/catalog-filter-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
  background-color: #756157;
  padding: 35px 70px 70px 70px;
}

.inner-header-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-transform: none;
}

.catalog-filter {
  display: flex;
  font-size: 20px;
  line-height: 26px;
}

.breadcrumbs {
  margin: 10px 0 0 0;
  padding: 0;
  color: inherit;
  list-style-type: none;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-content: center;
}

.breadcrumbs-link[href]:hover {
  opacity: 0.6;
}

.breadcrumbs-link[href]:active {
  opacity: 0.3;
}

.breadcrumbs-item:first-child {
  display: flex;
  align-items: center;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  background-image: url(../images/icons/breadcrumbs.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 6px;
  height: 8px;
  margin: 0 10px;
  display: inline-block;
}

.breadcrumbs-link {
  text-decoration: none;
  color: inherit;
}

.breadcrumbs-link path {
  fill: #FFFFFF;
}
.catalog-filter {
  margin-top: 40px;
}

.catalog-filter-group {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  border: 0;
  margin: 0;
  padding: 0;
  gap: 15px;
}

.catalog-filter-title {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 30px;
  text-transform: capitalize;
}

.filter-infrastructure {
  margin-right: 70px;
  max-width: 150px;
}

.filter-type {
  max-width: 150px;
}

.filter-price {
  margin-left: auto;
  max-width: 288px;
  margin-right: 70px;
}

.control {
  padding-left: 40px;
  font-size: 18px;
  line-height: 21px;
}

.control-input {
  margin: 0;
  width: 1px;
  height: 1px;
  background: #FFFFFF;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.input-checkbox {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
  margin-left: -40px;
}

.control-input:hover + .input-checkbox {
  opacity: 0.6;
}

.control-input:focus + .input-checkbox {
  box-shadow: 0 0 0 3px #83B3D3;
}

.control-input:active + .input-checkbox {
  opacity: 0.3;
}

.control-input:disabled + .input-checkbox {
  opacity: 0.1;
  cursor: not-allowed;
}

.control-input:checked + .input-checkbox {
  background-image: url(../images/icons/marker-check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.input-radio {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 50%;
  margin-left: -40px;
}

.control-input:hover + .input-radio {
  opacity: 0.6;
}

.control-input:focus + .input-radio {
  box-shadow: 0 0 0 3px #83B3D3;
}

.control-input:active + .input-radio {
  opacity: 0.3;
}

.control-input:disabled + .input-radio {
  opacity: 0.1;
  cursor: not-allowed;
}

.control-input:checked + .input-radio {
  background-image: url(../images/icons/marker-dot.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.price-field-group {
  display: flex;
  margin-top: 4px;
}

.price-field-wrap {
  position: relative;
   margin-right: -2px;
   width: calc(50% + 1px);
}

.price-field {
  padding: 14px 40px 13px 18px;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  width: 143px;
  height: 48px;
  background: none;
  color: inherit;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.price-minimal {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.price-maximal {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.price-field:hover {
  opacity: 0.6;
}

.price-field-wrap:first-child .price-field:not(:active):not(:focus) {
  border-right-color: transparent;
}

.price-field-wrap:first-child:hover + .price-field-wrap .price-field:not(:focus) {
  border-left-color: transparent;
}

.price-field-wrap:first-child .price-field:hover:not(:active):not(:focus) {
  border-right-color: rgba(255, 255, 255, 0.6);
}

.price-field:focus {
  border: 2px solid #FFFFFF;
  box-shadow: 0 0 0 3px #81B3D2,
  inset 0 0 0 3px #81B3D2;
  outline: 0;
  opacity: 1;
}

.price-field:active {
  background-color: #756257;
}

.price-field-label {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
}

.price-field-placeholder {
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: 15px;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 12px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 287px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: 0;
  border: 3px solid #83B3D3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.range-toggle:active {
  border: 2px solid #83B3D3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.catalog-filter-buttons {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.product-list-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.product-list {
  padding: 55px 72px 25px 72px;
  font-size: 18px;
  line-height: 21px;
}

.product-navigation-top {
  margin-bottom: 56px;
  display: flex;
  align-items: center;
}

.product-list-title {
  margin: 0;
}

.select-control {
  width: 290px;
  height: 49px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  padding-left: 20px;
  padding-right: 32px;
  appearance: none;
  -webkit-appearance: none;
  background-image: url(../images/icons/arrow.svg);
  background-repeat: no-repeat;
  background-position: center right 5%;
  margin-left: auto;
  background-color: #FFFFFF;
}

.select-control:hover {
  border: 2px solid #68A2CA;
}

.select-control:focus {
  outline: 0;
  border: 2px solid #68A2CA;
}

.select-control:active {
  border: 2px solid #3F5E72;
}

.select-control:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.catalog-view {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-left: 78px;
  width: 160px;
}

.view-list {
  background-image: url(../images/icons/view-list.svg);
}

.view-slideshow {
  background-image: url(../images/icons/view-slideshow.svg);
}

.view-tile {
  background-image: url(../images/icons/view-tile.svg);
}

.catalog-view-button {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-view-button:hover {
  border: 2px solid #000000;
}

.catalog-view-button:focus {
  outline: 0;
  border: 2px solid #68A2CA;
}

.catalog-view-button:active {
  border: 2px solid #000000;
}

.catalog-view-button-current {
  border: 2px solid #000000;
}

.product-card-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 0 18px;
}

.product-card {
  max-width: 340px;
  min-height: 438px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.product-card-image {
  width: 100%;
  display: block;
  background-color: #756157;
}

.product-card-link {
  font-family: inherit;
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
  text-decoration: none;
  color: #000000;
  margin: 0;
}

.product-card-property {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 20px;
  margin-top: auto;
}

.product-card-title {
  margin: 16px 0;
  font-family: inherit;
  line-height: 28px;
  font-size: 24px;
}

.product-card-type {
  margin: 0;
  min-width: 140px;
}

.product-card-price {
  min-width: 140px;
  font-weight: 400;
}

.rating-list {
  background-image: url(../images/icons/star.svg);
  background-repeat: space;
  background-position: left center;
  height: 37px;
}

.rating-one-star {
  width: 18px;
}

.rating-two-stars {
  width: 42px;
}

.rating-three-stars {
  width: 66px;
}

.rating-four-stars {
  width: 90px;
}

.rating-five-stars {
  width: 114px;
}

.product-card-rating {
  margin: 0;
  min-width: 140px;
  padding: 8px 22px;
  background: #F2F2F2;
  border-radius: 4px;
  width: 140px;
  min-height: 37px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

}

.product-card a {
  margin: 0;
}

.catalog-navigation-bottom {
  margin-top: 66px;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  border-top: 1px solid #E6E6E6;
}

.pagination {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  list-style-type: none;
  display: -webkit-flex;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  width: max-content;

}

.pagination-link {
  width: 60px;
  height: 60px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background: #82B3D3;
  border: 1px solid #82B3D3;
  border-radius: 4px;
  color: #FFFFFF;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  background-color: #68A2CA;
}

.pagination-link:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination_current {
  background-color: #F2F2F2;
  color: #000000;
  border: 0;
}

.pagination_current:hover {
  background-color: #F2F2F2;
  color: #000000;
  border: 0;
}

.page-limiter {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  align-self: center;
  align-items: center;
}

.page-limiter-select {
  width: 160px;
  height: 49px;
  margin-left: 50px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  font-size: 18px;
  line-height: 21px;
  padding-left: 20px;
  padding-right: 32px;
  appearance: none;
  background-image: url(../images/icons/arrow.svg);
  background-repeat: no-repeat;
  background-position: center right 9%;
}

.modal {
  position: relative;
  margin: auto;
  padding: 54px 70px 70px;
  background-color: #FFFFFF;
  border-radius: 30px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-registration {
  width: 715px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255, 0.8);
  z-index: 99;
  overflow: auto;
  padding: 50px;
  min-width: max-content;
}

.modal-container-close {
  display: none;
}

.modal-content {
  display: flex;
  flex-wrap: wrap;
}

.modal-title {
  font-weight: 700;
  font-size: 30px;
  margin: 0;
  line-height: 36px;
  text-transform: uppercase;
  max-width: 500px;
  align-self: center;
}

.modal-close-button {
  background-color: #F2F2F2;
  border-radius: 50%;
  border: 0;
  width: 53px;
  height: 53px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.modal-close-button:active svg {
  fill: rgba(0, 0, 0, 0.3);
}

.registration-form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 56px;
}

.registration-field-wrapper {
  width: 100%;
  display:flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.registration-field {
  width: 420px;
  height: 50px;
  border-radius: 4px;
  border: 0;
  padding: 0;
  background-color: #F2F2F2;
  padding-left: 20px;
  padding-right: 60px;
}

.registration-field::placeholder {
  opacity: 1;
}

.date-field-wrapper {
  background-color: #F2F2F2;
  border-radius: 4px;
  width: 420px;
  display: flex;
  position: relative;
}

.date-button {
  border: 0;
  width: 50px;
  height: 50px;
  padding: 0;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: transparent;
  position: absolute;
  right: 0;
}

.registration-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
  flex-grow: 1;
  text-transform: capitalize;
}

.registration-field-wrapper-adult {
  width: 50%;
  margin-bottom: 40px;
  display: flex;
}

.registration-field-wrapper-children {
  flex-grow: 1;
  margin-bottom: 40px;
  display: flex;
  margin-left: 56px;
  justify-content: space-between;
}

.number-field-wrapper {
  background-color: #F2F2F2;
  border-radius: 4px;
  display: flex;
  position: relative;
}

.number-field-wrapper:focus-within {
  outline: 3px solid #83B3D3;
}

.number-field {
  width: 133px;
  height: 50px;
  border: 0;
  padding: 0;
  text-align: center;
  border-radius: 4px;
  -moz-appearance: textfield;
}

.number-field::-webkit-inner-spin-button,
.number-field::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number-field-button {
  background:transparent;
  border: 0;
  border-radius: 4px;
  width: 44px;
  height: 50px;
  padding: 0;
}

.button-less {
  position: absolute;
  z-index: 2;
}

.button-more {
  position: absolute;
  z-index: 2;
  margin-left: 89px;
}

.number-field-button:focus {
  outline: none;
}

.number-field-button:hover svg {
  opacity: 1;
}

.number-field-button:focus svg {
  opacity: 1;
  outline: 3px solid #83B3D3;
}

.field-icon {
  fill:#000000;
  opacity: 0.3;
}

.number-field-icon {
  width: 20px;
  height: 20px;
  display: block;
  margin: auto;
  border-radius: 4px;
}

.modal-hint {
  position: absolute;
  font-size: 16px;
  line-height: 21px;
  top: 58px;
  z-index: 2;
}

.modal-hint-error {
  color: red;
}

.tooltip-toggle {
  border: none;
  background-color: #83B3D3;
  padding: 0;
  margin: 0;
  display: flex;
  border-radius: 50%;
}

.tooltip-icon {
  fill: #FFFFFF;
}

.tooltip-text {
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-transform: none;
  padding: 15px 18px 22px 22px;
  border-radius: 10px;
  width: 256px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  top: 40px;
  display: none;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.tooltip-text:after {
  content:'';
  background-image: url("../images/tooltip-triangle.svg");
  width: 19px;
  height: 9px;
  position:absolute;
  top: -9px;
  right: 120px;
}

.tooltip {
  position: absolute;
  width: 25px;
  height: 25px;
  margin-left: 8px;
  margin-top: 15px;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.button-modal {
  width: 100%;
  height: 60px;
  background: #83B3D3;
  border-radius: 10px;
  font-size: 20px;
  line-height: 36px;
}

.button-modal:hover {
  background: #68A2CA;
}

.button-modal:focus {
  background: #68A2CA;
  outline: 3px solid #756257;
}

.button-modal:active {
 color: rgba(255, 255, 255, 0.3);
}
