@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #E5E5E5;
  min-width: 1280px;
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #FFFFFF;
  max-width: 1200px;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  border-radius: 4px;
  background: none;
  padding: 9px 15px 8px;
}

.button-product-card {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 140px;
  height: 37px;
  border: 0;
  border-radius: 4px;
  background: none;
  margin: auto;
  padding: 8px 15px;
  margin-top: 16px;
}

.button-primery {
  background-color: #756157;
}

.button-primery:hover {
  background-color: #615048;
}

.button-primery:focus {
  background-color: #615048;
}

.button-primery:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-primery:disabled {
  background-color: #E5E5E5;
}

.button-secondary {
  background-color: #82B3D3;
}

.button-secondary:hover {
  background-color: #68A2CA;
}

.button-secondary:focus {
  background-color: #68A2CA;
}

.button-secondary:active  {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-secondary-active  {
  background-color: #7DB54F;
}

.button-secondary-active:hover {
  background-color: #6C9E42;
}

.button-secondary-active:focus {
  background-color: #6C9E42;
}

.button-secondary-active:active {
  background-color: #6C9E42;
}

.button-secondary-active:disabled  {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.button-middle {
  width: 160px;
}

.button-big {
  font-size: 20px;
  line-height: 36px;
  padding: 12px 15px;
  width: 574px;

}

.button-filter {
  padding: 14px 15px;
}

.newsletter-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 20px;
  line-height: 36px;
  padding: 12px 15px;
  width: 200px;
}

.reset-button {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  width: 100px;
  height: 32px;
  padding-top: 4px;
  padding-bottom: 5px;
}

.reset-button:hover {
  opacity: 0.6;
}

.reset-button:focus {
  outline: 0;
  box-shadow: 0 0 0 3px #83B3D3;
}

.reset-button:active {
  opacity: 0.3;
}

.section-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.section-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-top: 30px;
}

.page-header {
  color: #000000;
  background-color: #FFFFFF;
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
  max-height: 65px;
}

.logo {
  margin-right: 30px;
  position: relative;
  z-index: 2;
}

.navigation {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  height: 100%;
  align-items: stretch;
}

.navigation-list-secondary .navigation-item {
  align-self: center;
}

.navigation-list-secondary .navigation-item:nth-child(2) {
  margin-right: 20px;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  color: inherit;
  padding: 20px 17px;
  cursor: pointer;
  height: 100%;
  display: flex;
}

.navigation-link_current {
  position: relative;
  z-index: 1;
}

.navigation-link_current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 17px;
  right: 17px;
  border-bottom: 2px solid #756257;
}

.favorites {
  margin: 0;
  background-image: url(../images/icons/favorites.svg);
  display: block;
  width: 42px;
  height: 65px;
  border: 0;
  background-color: #FFFFFF;
  position: relative;
  z-index: 1;
}

.favorites-counter {
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: -0.1em;
  background: #7DB54F;
  color: #FFFFFF;
  position: absolute;
  z-index: 2;
  top: 15px;
  right: -2px;

}

.search {
  margin: 0;
  background-image: url(../images/icons/search.svg);
  display: block;
  width: 42px;
  height: 65px;
  border: 0;
  background-color: #FFFFFF;
}

/* main */

.main-index {
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
  flex-grow: 1;
}

.main-logo-wrapper{
  background-color: #82B3D3;

}

.main-logo {
  display: block;
  position: relative;
}

.main-logo-wrapper::after {
  content: "";
  background-image: url(../images/index-logo-divider.svg);
  display: block;
  position: relative;
  width: 100%;
  height: 57px;
  background-repeat: no-repeat;
  margin-top: -55px;
}

.main-section-title {
  margin: 0;
  margin-top: 63px;
}

/* advantages */

.advantages {
  margin: 0;
}

.advantages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 90px;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.advantages-item {
  margin: 0;
  padding: 0;
}

.main-item {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

/* advantages-cards */

.advantage-sublist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

}

.advantage-photo {
  margin: 0;
  padding: 0;
  display: block;
}

.advantages-card {
  margin: 0;
  padding: 92px 85px;
  width: 400px;
  height: 384px;
  font-size: 18px;
  line-height: 21px;
}

.second-card {
  background-color: rgba(131, 179, 211, 0.12);
}

.third-card {
  background-color: rgba(131, 179, 211, 0.2);
  ;
}

.advantages-item.second-card {
  padding-top: 102px;
  padding-bottom: 102px;
}

.advantages-item.third-card {
  padding-top: 102px;
  padding-bottom: 102px;
}

.advantage-subitem {
  padding-top: 182px;
  padding-bottom: 80px;
}

.advantage-title {
  color: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  width: 230px;
  margin: 0;

}

.advantage-numeration {
  margin: 30px 0 0 0;
}

.main-card {
  background-color: #82B3D3;
  color: #FFFFFF;
}


.advantage-description {
  color: #333333;
  margin: 30px 0 0 0;
}

.main-card .advantage-description {
  color: #FFFFFF;
}

.card-home {
  background-image: url(../images/adventures-home.svg);
  background-repeat: no-repeat;
  background-position: left 50% top 25%;

}

.card-food {
  background-image: url(../images/adventures-food.svg);
  background-repeat: no-repeat;
  background-position: left 50% top 26%;
}

.card-suvenir {
  background-image: url(../images/adventures-souvenir.svg);
  background-repeat: no-repeat;
  background-position: left 50% top 25%;
}

/*appointment */

.appointment {
  padding-top: 94px;
  padding-bottom: 94px;
}

.appointment-description {
  margin: 30px 0 0 0;
}

.appointment-button {
  margin-top: 55px;
}

/* subscribe */

.subscribe-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.subscribe-section-main {
  background-image: url(../images/subscribe-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #82B3D3;
}

.subscribe-section-light {
  text-align: center;
}

.newsletter-form {
  margin-top: 46px;
  display: flex;
  justify-content: center;
}

.field {
  width: 600px;
  height: 60px;
  border: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 0;
  background-color: #F2F2F2;
}

.field::placeholder {
  font-family: inherit;
  color: #000000;
  padding-left: 20px;
  font-size: 18px;
  line-height: 21px;
  opacity: 0.6;
}

/* footer */

.page-footer {
  min-height: 120px;
  margin: 0;
  padding: 40px 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-social-link {
  display: block;
  width: 48px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.footer-social-link svg {
  fill: #83B3D3;
}

.footer-social-link:hover svg {
  fill:#68A2CA;
}

.footer-social-link:focus svg {
  fill:#68A2CA;
}

.footer-social-link:active svg {
  opacity: 0.3;
}

.address-phone {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.address-phone:hover {
  color: #756157;
}

.address-phone:focus {
  color: #756157;
}

.address-phone:active {
  color: #756157;
  opacity: 0.3;
}

.htmlacademy-link:hover svg {
  fill: #756157;
}

.htmlacademy-link:focus svg {
  fill: #756157;
}

.htmlacademy-link:active svg {
  fill: #756157;
  opacity: 0.3;
}

/* catalog */
.main-inner {
  flex-grow: 1;
}

.main-inner-header {
  background-image: url(../images/catalog/catalog-filter-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 393px;
  color: #FFFFFF;
  padding: 35px 70px 70px 70px;
}

.inner-header-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-transform: none;
}

.catalog-filter {
  display: flex;
  font-size: 20px;
  line-height: 26px;
}

.breadcrumbs {
  margin: 10px 0 0 0;
  padding: 0;
  color: inherit;
  list-style-type: none;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-content: center;
}

.breadcrumbs-item:hover {
  opacity: 0.6;
}

.breadcrumbs-item:active {
  opacity: 0.3;
}

.breadcrumbs-item:first-child {
  display: flex;
  align-items: center;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  background-image: url(../images/icons/breadcrumbs.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 6px;
  height: 8px;
  margin: 0 10px;
  display: inline-block;
  }

.breadcrumbs-link {
  text-decoration: none;
}

.breadcrumbs-link path {
  fill: #FFFFFF;
}
.catalog-filter {
  margin-top: 40px;
}

.catalog-filter-group {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  border: 0;
  margin: 0;
  padding: 0;
  gap: 16px;
}

.catalog-filter-title {
  padding: 0;
  margin: 0;
  font-weight: 700;
  margin-bottom: 30px;
}

.filter-infrastructure {
  margin-right: 70px;
}

.filter-type {
  margin-right: 175px;
}

.control {
  padding-left: 40px;
  font-size: 18px;
  line-height: 21px;
}

.control-input {
  margin: 0;
  width: 1px;
  height: 1px;
  background: #FFFFFF;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.input-checkbox {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
  margin-left: -40px;
}

.control-input:hover + .input-checkbox {
  opacity: 0.6;
}

.control-input:focus + .input-checkbox {
  box-shadow: 0 0 0 3px #83B3D3;
}

.control-input:active + .input-checkbox {
  opacity: 0.3;
}

.control-input:checked + .input-checkbox {
  background-image: url(../images/icons/marker-check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.input-radio {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 50%;
  margin-left: -40px;
}

.control-input:hover + .input-radio {
  opacity: 0.6;
}

.control-input:focus + .input-radio {
  box-shadow: 0 0 0 3px #83B3D3;
}

.control-input:active + .input-radio {
  opacity: 0.3;
}

.control-input:checked + .input-radio {
  background-image: url(../images/icons/marker-dot.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.price-group {
  display: flex;
  margin-right: 70px;
}

.price-field {
  padding: 14px 31px 11px 19px;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  width: 143px;
  height: 48px;
  background: none;
  color: inherit;
}

.price-field:first-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: 0;
}

.price-field:last-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.price-field:hover {
  opacity: 0.6;
}

.price-field:focus {
  outline: 0;
  border: 2px solid #FFFFFF;
  box-shadow: 0 0 0 3px #81B3D2;
}

.price-field:active {
  background-color: #756257;
}

.catalog-filter-buttons {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.product-list-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.product-list {
  padding: 50px 72px 25px 72px;
  font-size: 18px;
  line-height: 21px;
}

/* top-navigation*/

.product-navigation-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-list-title {
  margin-right: 35px;
}

.select-control {
  width: 290px;
  height: 49px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  font-size: 18px;
  line-height: 21px;
  padding: 14px 20px;
  appearance: none;
  background-image: url(../images/icons/arrow.svg);
  background-repeat: no-repeat;
  background-position: center right 5%;
}

.select-control:hover {
  border: 2px solid #68A2CA;
}

.select-control:focus {
  outline: 0;
  border: 2px solid #68A2CA;
}

.select-control:active {
  border: 2px solid #3F5E72;
}

.select-control:disabled {
  opacity: 0.3;
}

.product-card-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0 18px;
}

.catalog-view {
  display: flex;
  gap: 8px;
}

.catalog-view-button {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.catalog-view-button:hover {
  border: 2px solid #000000;
}

.catalog-view-button:focus {
  outline: 0;
  border: 2px solid #68A2CA;
}

.catalog-view-button:active {
  border: 2px solid #000000;
}

.catalog-view-button-current {
  border: 2px solid #000000;
}

.product-card {
  max-width: 340px;
  min-height: 438px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.product-card-image {
  width: 100%;
  display: block;
}

.product-card-link {
  font-family: inherit;
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
  text-decoration: none;
  color: #000000;
  margin: 0;
}

.product-card-property {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 20px;
  margin-top: auto;
}

.product-card-title {
  margin: 16px 0;
}

.product-card-type {
  margin: 0;
  min-width: 140px;
}

.product-card-price {
  min-width: 140px;
  font-weight: 400;
}

.rating-list {
  background-image: url(../images/icons/star.svg);
  background-repeat: space;
  background-position: left center;
}

.rating-one-star {
  width: 24px;
}

.rating-two-stars {
  width: 48px;
}

.rating-three-stars {
  width: 72px;
}

.rating-four-stars {
  width: 96px;
}

.rating-five-stars {
  width: 120px;
}

.product-card-rating {
  margin: 0;
  min-width: 140px;
  padding: 8px 22px;
  background: #F2F2F2;
  border-radius: 4px;
  width: 140px;
  height: 37px;
}


.product-card a {
  margin: 0;
}


/* catalog navigation bottom*/

.catalog-navigation-bottom {
  margin-top: 66px;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  border-top: 1px solid #E6E6E6;
}

.pagination {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  list-style-type: none;
  display: -webkit-flex;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  width: max-content;

}

.pagination-link {
  width: 60px;
  height: 60px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background: #82B3D3;
  border: 1px solid #82B3D3;
  border-radius: 4px;
  color: #FFFFFF;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  background-color: #68A2CA;
}

.pagination-link:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination_current {
  background-color: #F2F2F2;
  color: #000000;
  border: 0;
}

.pagination_current:hover {
  background-color: #F2F2F2;
  color: #000000;
  border: 0;
}

.page-limiter {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  align-self: center;
  align-items: center;
}

.page-limiter-select {
  width: 160px;
  height: 49px;
  margin-left: 50px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  font-size: 18px;
  line-height: 21px;
  padding: 14px 20px;
  appearance: none;
  background-image: url(../images/icons/arrow.svg);
  background-repeat: no-repeat;
  background-position: center right 5%;
}
